<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voting Application</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  </head>
  <body>
    <div id="app-1">
      <h3>Register to Vote</h3>
      <!-- <form @submit.preventDefault="registerVoter">

      </form> -->
      <form @submit.prevent="registerVoter">
        <label for="fname">First Name</label>
        <input type="text" id="fname" v-model="fname" />
        <label for="lname">Last Name</label>
        <input type="text" id="lname" v-model="lname" />
        <label for="idnumber">ID Number (Drivers License)</label>
        <input type="text" id="idnumber" v-model="idnumber" />
        <button type="submit">Register Voter</button>
      </form>

    </div>
    <div id="app-2">
      <h3>Select a Candidate</h3>
      <div>
        
        <select v-model="selected">
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.candidate }}
          </option>
        </select>
      </br>
        <span>Selected: {{ selected }}</span>
    </br>
        <label for="hashvalue">Verification Code</label>
        <input type="text" id="hashvalue" v-model="hashvalue" />
      </div>
      <button v-on:click="submitVote">Submit Vote</button>
    </div>

    <div id="app-3">
      <div>
        <label for="verificationcode">Verification Code</label>
        <input type="text" id="verificationcode" v-model="verificationcode" />
        <button v-on:click="verify">Verify</button>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/static/scripts/app.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://raw.githubusercontent.com/kawanet/qs-lite/master/dist/qs-lite.min.js"></script> -->
  </body>
</html>
